html {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  color: #1a1e21;
  font-weight: bold;
  margin: 0;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.6rem;
  text-decoration: underline;
  /* font-size: 1.5294rem; */
  margin-bottom: 0.9rem;
}

h3 {
  font-size: 2.1rem;
  text-decoration: underline;
  /* font-size: 1.375rem; */
  margin-bottom: 0.8rem;
}

h4 {
  font-size: 1.5rem;
  /* font-size: 1.2353rem; */
  margin-bottom: 0.7rem;
}

h5 {
  font-size: 1rem;
  margin-bottom: 0.6rem;
}

p {
  font-size: 1.4rem;
  padding-bottom: 1.5294rem;
  line-height: 1.5;
  margin: 0;
}

p:last-child {
  padding-bottom: 0;
}

small {
  font-size: 0.875rem;
}

img {
  border: 0;
}

a {
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #000000;
}

a:hover {
  color: #FF382E;
  text-decoration: none;
  border-bottom: 1px solid #FF382E;
}

.main-title-for-site {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  color: #1a1e21;
  font-size: 3.6rem;
  line-height: 1.1;
}

.code {
  border: 1px solid gray;
  background-color: lemonchiffon;
  border-radius: 2px;
  padding: 20px 20px 0 20px;
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.code .line-numbers {
  display: none;
}

.avatar {
  width: 150px;
  height: 150px;
}
