     {% include navigation.html %}

      <div class="row mt-5 mb-5">
        <div class="offset-2 col-2">
          <p>
            <a href="https://github.com/krdprog" target="_blank">
              <img src="/img/krdprog.jpg" class="avatar" alt="krdprog">
            </a>
          </p>
        </div>
        <div class="col-6">
          <p>{{ site.description }}</p>
          2019-2022 &copy; <a href="https://github.com/krdprog" target="_blank">Алексей Цаплин-Купайсинов</a> (krdprog)<br>
          <strong>Контакты:</strong> <a href="https://telegram.me/krdprog" target="_blank">telegram</a>, <a href="https://github.com/krdprog" target="_blank">github</a>
        </div>
      </div>
