<!doctype html>
<!-- Hey! Welcome to my site! My Github is: https://github.com/krdprog/ -->
<!-- Author: Ruby on Rails developer: Alexey Tsaplin-Kupaysinov -->
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      {% include navigation.html %}

      <div class="row mt-5">
        <div class="col-7">
          <div class="main-title-for-site">{{ site.title }}</div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="offset-2 col-9">
          <h1 class="mb-4">{{ page.title }}</h1>

          {{ content }}

          <h3>Все статьи:</h3>
          <ul>
          {% for post in site.posts %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
          </ul>
        </div>
      </div>

      {% include footer.html %}

    </div>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
